###########
# General #
###########
alias ll="ls -lha"
alias latest="ls -lhat | head"
alias vim="nvim"
alias hidden_off='defaults write com.apple.Finder AppleShowAllFiles NO'
alias hidden_on='defaults write com.apple.Finder AppleShowAllFiles YES'

#######
# Git #
#######
alias git="hub"
alias gitpurge="git remote prune origin && git branch --merged| egrep -v \"(^\*|master)\" | xargs git branch -d"
alias gitrel="git log \$(git tag --sort=committerdate | tail -1)..HEAD --pretty=format:\"* %s\""
